@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Noto+Sans+Tamil:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

/* Global variables */
:root {
  --primary: #12bdff;
  --primary-hover: #0c8ec2;
  --dark-primary: #1b1f24;
  --nunito: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--nunito);
}

/* header */
header {
  background-color: var(--dark-primary);
  padding: 20px;
  /* color: #RRGGBB; */
  color: #fff;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .logo {
  color: var(--primary);
  font-weight: bold;
  letter-spacing: 2px;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

header ul li a:hover {
  color: var(--primary);
}

/* Section: Hero Homepage */
section.hero-section {
  background-color: var(--dark-primary);
  color: #fff;

  display: flex;
  align-items: center;
  padding: 20px 120px 0 240px;
}

.hero-section__title {
  font-size: 48px;
  font-weight: 900;
}

.hero-section__title > span {
  color: var(--primary);
}

.hero-section__desc {
  color: #c4c4c4;
}

.social-icons {
  margin: 20px 0;
}

.social-icons li {
  margin-right: 15px;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li > a {
  text-decoration: none;
  color: #fff;
}

.social-icons li a > i.fa-facebook:hover {
  color: #1877f2;
}

.social-icons li a > i.fa-linkedin:hover {
  color: #0072b1;
}

.social-icons li a > i.fa-instagram:hover {
  color: #feda75;
}

.social-icons li a > i.fa-twitter:hover {
  color: #00acee;
}

.hero-buttons button {
  margin-right: 10px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
  font-weight: 600;
  color: var(--dark-primary);
}

.btn.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
}
